@model List<Closure>
@{
    ViewData["Title"] = "Toutes les fermetures";

    List <Closure> oldClosurses = new List<Closure>(Model);
    List <Closure> newClosurses = new List<Closure>(Model);

    var now = DateTime.Now;

    oldClosurses.RemoveAll(closure => closure.ClosingDate < now);

    newClosurses.RemoveAll(closure => closure.ClosingDate >= now);

    int id = 0;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<h2>Fermetures à venir:</h2>
<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">Date de fermeture</th>
            <th scope="col">Nom du bateau / évènement</th>
            <th scope="col">Date de la réouverture</th>
            <th scope="col">Durée de la fermeture</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var closure in oldClosurses)
        {
            TimeSpan duration = closure.ReopeningDate.Subtract(closure.ClosingDate);
            
        <tr>
            <th>@closure.ClosingDate</th>
            <td>@closure.BoatName</td>
            <td>@closure.ReopeningDate</td>
            <td>@duration.ToString(@"hh\:mm")</td>
            <td><a class="btn btn-info" asp-controller="Home" asp-action="ClosureDetail" asp-route-closureId="@id">Détail</a></td>
        </tr>
            id++;
        }
    </tbody>
</table>

<h2>Fermetures passées:</h2>
<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">Date de fermeture</th>
            <th scope="col">Nom du bateau / évènement</th>
            <th scope="col">Date de la réouverture</th>
            <th scope="col">Durée de la fermeture</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var closure in newClosurses)
        {
            TimeSpan duration = closure.ReopeningDate.Subtract(closure.ClosingDate);
            <tr>
                <th>@closure.ClosingDate</th>
                <td>@closure.BoatName</td>
                <td>@closure.ReopeningDate</td>
                <td>@duration.ToString(@"hh\:mm")</td>
            </tr>
        }
    </tbody>
</table>